:root{
    --banco:#ffffff;
    --primario:#ffc107;
    --secundario: #0096a7;
    --negro:#000000;
    --gris:#757575;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

h1{
    text-align: center;
    font-size: 3.8rem;
}

span{
    font-size: 2rem;
}
.nav-bg{
    background-color:var(--secundario);
    justify-content: center;
}

.contenedor{
    max-width: 70rem;
    margin:0 auto;
   
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
   
}
.navegacion-principal a{
    display: block;
   text-align: center;
    text-decoration: none;
    color: var(--banco);
    font-size: 2rem;
    font-weight: bold;  
    padding: 1rem;  
    margin: 0;
}
.navegacion-principal a:hover{
    padding: 1rem;
    background-color: var(--primario);
    color: var(--negro);
}



@media(min-width:768px){
   .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;  
   }
   
}