:root{
    --banco:#ffffff;
    --primario:#ffc107;
    --secundario: #0096a7;
    --negro:#000000;
    --gris:#757575;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    background-image: linear-gradient(to top, #DCDCDC 0%,var(--banco) 90%);
}
.sombra{
    box-shadow: -7px 10px 6px -1px rgba(0,0,0,0.47);
    -webkit-box-shadow: -7px 10px 6px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: -7px 10px 6px -1px rgba(0,0,0,0.47);
    background-color: var(--banco);
    padding: 3rem;
    border-radius: 0.6rem;
    margin-top: 5rem;
}



h1{
    text-align: center;
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}

span{
    font-size: 2rem;
}
.nav-bg{
    background-color:var(--secundario);
    justify-content: center;
}

.contenedor{
    max-width: 75rem;
    margin:0 auto;
   
}

.boton{
    background-color: var(--secundario);
    color: var(--banco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center ;

}

.navegacion-principal{
    display: flex;
    flex-direction: column;
   
}
.navegacion-principal a{
    display: block;
   text-align: center;
    text-decoration: none;
    color: var(--banco);
    font-size: 2rem;
    font-weight: bold;  
    padding: 1rem;  
    margin: 0;
}
.navegacion-principal a:hover{
    padding: 1rem;
    background-color: var(--primario);
    color: var(--negro);
}


main.contenedor{
    margin-top: 20px;
}


.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    height: 450px;
    padding: 30px;
    position: relative;
}

.contenido-hero{
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;  
}

.contenido-hero h2, .contenido-hero p{
    color: var(--banco);
}


.ubicacion{
    display: flex;
    align-items: flex-end;
}



.interior-main{
    display: flex;
    flex-direction: column;    
    width: 100%; 
    margin: 10px;
    font-size: 1.4rem;
    align-items: center;
    text-align: center;
    
}

.interior-main h3{
    color: var(--secundario);
}

.icono{
    background-color: var(--primario);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.formulario{
    background-color: var(--gris);
    width: min(45rem , 100%);
    border-radius: 2rem;
    margin: 0 auto;
    padding: 2rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--primario);
    margin-bottom: 2rem;
    text-align: center;
}

@media(min-width:768px){
    .navegacion-principal{
         flex-direction: row;
         justify-content: space-between;  
    }   
 
    .contenido-main{
         display: flex;
         flex-direction: row;
         grid-template-columns: 33.3% 33.3% 33.3%;
     }

     .interior-main{
        width: 33.3%; 
     }

     .boton{
        width: auto;
     }
    }
 
 
 
 
 @media(min-width:480px){
     .boton{
         width: auto;
     }
 }
 

